.gameOver{
    position: relative;
    bottom: 220px;
    margin:auto;
    width: 390px;
    height:305px;
    background-color: var(--popup);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding-bottom:  20px;
}


hr{
    color: white
}

.results{
    position: relative;
    display: flex;
    flex-direction: column;
}

.gameOver.winner{
    border: 2px solid var(--winner);
}

.gameOver.looser{
    border: 2px solid var(--loser);
}

.gameOverTitle{
    padding-top: 20px;
    position: relative;
    left:13px
}


.close{
    position: absolute;
    top: 15px;
    left: 89%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
