.stats{
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: var(--popup);
    border-radius: 20px;
    z-index: 2;
    margin-bottom:20px;
}

.statsTitle{
  padding-top: 20px;
}

.results1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left:58px;
}


.r1{
    margin-right: -10px;
}


.close1{
  position: absolute;
  top: 15px;
  left: 89%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.tries{
  margin-top:50px;
}

