.stats{
    position: absolute;
    top: 399px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    background-color: var(--popup);
    border-radius: 20px;
    z-index: 2;
    margin-bottom:20px;
}

.statsTitle{
  padding-top: 25px;
  position: relative;
  left:35%;
}

.results1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left:47px;
}


.r1{
    margin-right: 0px;
}


.close1{
  position: absolute;
  left:5%;
  top: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.tries{
  margin-top:50px;
  position:relative;
  left:10%;
  bottom:20px;
}

