
@font-face {
    font-family:"karnakpro-condensedblack" ;
    src: url("./components/Fonts/karnakpro-condensedblack.ttf");
    font-weight: 700;
    font-style: normal;
}

:root {
    --black: #121213;
    --white: #ededed;
    --gridborders: #474747;
    --available: #474747;
    --disabled: #1f1f1f;
    --popup: #1f1f1f;
    --correct: #5b9a55;
    --almost: #c0ab40;
    --incorrect: #393939;
    --button: #d68b8b;
    --winner: #3db033;
    --loser:#b03333
}

body{
    margin:0;
    padding:0;
}

h1{
    font-family: 'karnakpro-condensedblack', sans-serif, Arial, Helvetica;
    font-weight: bold;
    font-size: 36px;
    color: var(--white);
}


h2{
    font-family: 'Oswald',Helvetica,  sans-serif, Arial, Helvetica;
    font-size: 30px;
    color: var(--white);
}

li{
    list-style: none;
    color: var(--white);
    margin-right:5px
}

.Home {
    text-align: center;
    background-color: #121212;
    width: 100vw;
    height: 100vh;
    color: white;
}

.display{
    position: relative;
    top:16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: var(--button);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    right:140px;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    outline: none;
    margin-bottom:8px;
    padding: 10px 16px;
    position: relative;
    transition: 300ms;
    margin-right:10px;
    }

.btn:hover{
    background-color: var(--available);
}

.btn-row{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:45px;
}


